# Ignorer le dossier de build
**/build/
**/transformation/
**/__pycache__/

# Fichiers temporaires et de sauvegarde
*.o
*.obj
*.so
*.exe
*.dll
*.log
*.tmp

# Dossiers générés par CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Fichiers d'éditeur
*.swp
*~

# Autres fichiers à ignorer
.DS_Store
*.user
*.suo